@using LTW.Models
@model IList<SanPham>

@{
    ViewBag.Title = "Kết quả tìm kiếm";
}

@Html.Partial("_BannerTop")
<div class="special-products all-poroducts">
    <div class="s-products-head">
        <div class="s-products-head-left">
            <h3>LIST<span>PRODUCTS</span></h3>
        </div>
        <div class="s-products-head-right">

        </div>
        <div class="clearfix"> </div>
    </div>
    <!----special-products-grids---->
    <div class="special-products-grids">
        @if (Model == null)
        {
            @:Không có sản phẩm nào

        }
        else
        {
            foreach (var pro in Model)
            {
                <div class="col-md-3 special-products-grid text-center">
                    <a class="brand-name" href="@Url.Action("DetailsProduct", "Product", new { proId = pro.ID })"><img src="../public/images/logo/@{@pro.IDHang}.png" class="img_logo" title="name" /></a>
                    <a class="product-here" href="@Url.Action("DetailsProduct", "Product", new { proId = pro.ID })"><img src="../public/images/products/sp/@pro.ID/nho.png" title="product-name" /></a>
                    <h4><a href="@Url.Action("DetailsProduct", "Product", new { proId = pro.ID })">@pro.TenSanPham</a></h4>
                    @if (pro.SoLuong == 0)
                    {
                        <a class="product-err" href="javascript:void(0)"><span>@string.Format("{0:C0}", pro.Gia)</span><small>Hết Hàng</small><label> </label></a>
                    }
                    else
                    {
                        <a class="product-btn" data-proId="@pro.ID" href="javascript:"><span>@string.Format("{0:C0}", pro.Gia)</span><small>Mua Ngay</small><label> </label></a>
                    }  
                </div>
            }
        }

        <div class="clearfix"> </div>
        <nav aria-label="...">
            <ul class="pagination">
                @if (ViewBag.currentPage > 1)
                {
                    <li><a href="@Url.Action("findProducts", "Product")?page=@(ViewBag.currentPage-1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                }
                else
                {
                    <li class="disabled"><a href="javascript:void(0)" class="disabled" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                }
                @for (int i = 1; i <= ViewBag.totalPage; i++)
                {
                    if (i == ViewBag.currentPage)
                    {
                        <li class="active"><a>@i<span class="sr-only">(current)</span></a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("findProducts", "Product")?page=@i">@i</a></li>
                    }

                }
                @if (ViewBag.currentPage < ViewBag.totalPage)
                {
                    <li><a href="@Url.Action("findProducts", "Product")?page=@(ViewBag.currentPage+1)" aria-label="Previous"><span aria-hidden="true">»</span></a></li>
                }
                else
                {
                    <li class="disabled"><a href="javascript:void(0)" class="disabled" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                }

            </ul>
        </nav>
    </div>
    <!---//special-products-grids---->
</div>
